/* For styling the rendered Markdown */
body {
    font-size: 12px;
    /* sets body text font size in pixels */
    /* color: rgb(255, 255, 255); */
    /* sets body text font colour */
}

table th,
table td {
    font-size: 12px;
    /* sets table cell and header font size in pixels */
    /* color: rgb(255, 255, 255); */
    /* sets table cell and header font colour */
}

a {
    /* color: #0000CD; */
    /* set link colour - includes TOC links*/
}

a[data-resource-id] {
    /* color: #006600; */
    /* change the colour of internal links */
}

.resource-icon.fa-joplin {
    display: none;
    /* do not display the Joplin internal resource icon */
}

.resource-icon {
    /* background-color: #006600; */
    /* change resource link icons to the same colour as the link */
}

blockquote {
    font-style: italic;
    /* makes the blockquote text italic */
    opacity: 1;
    /* darkens the blockquote text from the default of 0.7 */
}

code {
    font-family: "Roboto Mono", monospace;
    /* sets code font - change to a MONOSPACE font on your system */
    font-size: 12px;
    /* sets code font size - fenced code and pre */
    font-weight: 500;
    /* sets code font weight - fenced code and pre */
    /* color: #ffffff; */
    /* sets code font colour - fenced code, inline code and pre */
}

.inline-code {
    font-size: 12px;
    /* sets inline code font size - code element does not seem to control this */
    border: 0px none;
    /* removes the border around inline code */
    /* background: none; */
    /* removes the background shading from inline code */
}

pre.hljs {
    border: 0px none;
    /* removes the border from fenced code blocks */
    background: #EBEBEB;
    /* makes the background of fenced code blocks darker than the default */
}